body{
    margin: 0;
    padding: 0;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Russo One', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.flex{
    display: flex;
    flex-flow: column;
}
.master{
    background:url('images/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
        .left-banner {
            display: none;
        }
        .right-wrapper{
            width: 100%;
        }
        .header-wrapper{
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
        }
        .header-logo{
            position: absolute;
            top: 0;
        }
        .header-logo img{
            width: 100%;
        }
        .hamburger {    
            display: inherit;
            position: absolute;
            top: 12vh;
            right: 2vh;
            z-index: 3;
        }
        .hamburger i {
            font-size: 250%;
            color:rgb(131, 0, 0);
        }
        .content-conteiner{
        justify-content: center;
        padding: 10%;
        height: 80vh;
        overflow: hidden;
        }

    
.facebook{
    position: absolute;
    top: 12vh;
    left: 2vh;
}
.facebook i{
    font-size: 250%;
    color:rgb(131, 0, 0);
}
.facebook i:active{
    color:#3b5998;
}
.main-page-info{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(131, 0, 0,0.5);
    padding:10px;
    border-radius: 10px 0 0 0;
    color: rgba(255, 255, 255, 0.7);
}
.main-page-info ul li {
    padding: 0;
}
.main-page-info li:first-child {
    font-size: x-large;
}
.main-page-info li:nth-child(4) {
    padding-top: 15px;
    font-size: large;
}
.menu-holder{ 
    align-items: center;
}
.menu{
    display: none;
    background-color: rgb(131,0,0, 0.2);    
    box-shadow: inset 0 0 30px rgba(131, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    margin-top: 33%;
    position: absolute;
    width: 85%;
    z-index: 2;
}
.menu li{
    font-size: xx-large;
    color:rgb(131, 0, 0);
    padding: 15px;
}

.menu li:active {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(131, 0, 0, 0.4);
    border-radius: 10px;
}

.menu-container {
    position: absolute;
    left: 0;
    top: 20%;
    height: auto;
    width: 100%;
}

.left-menu {
    padding: 0 3%;
    text-align: center;
    border-right: 3px solid rgb(131, 0, 0, 0.7);
}

.menu-logo img {
    width: 30%;
    border-radius: 50%;
}

.left-menu ul li {
    padding: 5px 0;
}

.left-menu li:active {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(131, 0, 0, 0.4);
    border-radius: 10px;
    cursor: pointer; 
}

.right-menu {
    padding: 0 3%;
}

.right-menu-header-wrapper {
    width: 100%;    
    margin-bottom: 3%;
    background: rgb(131, 0, 0, 0.3);
    box-shadow: inset 0 0 25px rgba(131, 0, 0, 0.4);
    padding: 0 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.right-menu-header {
    color:rgb(131, 0, 0);
}

.header-image-wrapper {
    display: none;
}

.food-list-container {
    width: 100%;
    height: 35vh;
    padding-right: 10px;
    overflow-y: auto;
}

.food-list-container::-webkit-scrollbar {
    width: 10px;
  }
   
  .food-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
   
  .food-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

.food-list-container ul li{
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.food-list-container ul li span{
    padding: 5px 10px;
    margin-top: 5px;
    background-color: rgba(255,255,255,0.5);
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.about-container {
    position: absolute;
    top: 20%;
    left: 0;
    height: auto;     
    background-color: rgb(131, 0, 0, 0.2);
    width: 100%;
    padding: 5%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
};

.about-header {
    color:rgb(131, 0, 0);
}


@media all and (min-width: 768px) {
        
    .flex{
    display: flex;
    flex-flow: row wrap;
    }
    
    .left-banner{
        justify-content:flex-end;
        width: 7%;
        height: 100%; 
        background-color: rgb(0,0,0,0.3);
    }
    
    .left-banner img{
        height: 100%;
    }
    .right-wrapper{
        flex-flow: column;
        width: 93%;
        position: relative;
    }
    
    .header-wrapper{
        height: 20vh;
    }
    .menu{
        justify-content: space-evenly;
        padding: 5px 20px;
        margin-left: 50px;
        margin-top: auto;
        position: inherit;
        width: auto;
    }
    .menu li{
        font-size: x-large;
        padding: 10px;
    }
    .menu li:hover {
        color: rgb(255, 255, 255, 0.8);
        background-color: rgb(131, 0, 0, 0.4);
        border-radius: 10px;
    }
    .menu li:active {
        text-decoration: underline;
    }
    
    .hamburger {
        display: none;
    }
    .header-logo{
        position: inherit;
        width: 50%;
    }
    
    .facebook{
        top: 50vh;
        left: 0;
        z-index: 1;
    }
    .facebook i{
        font-size: 400%;
    }
    .facebook i:hover{
        color:#3b5998;
    }
    .content-conteiner{
        padding: 0;
        padding-right: 10%;
    }
    
    .start-cover-img {
        height: 100%;
    }
    .main-page-info{
        padding:45px;
    }
    
    .main-page-info ul li {
       padding: 5px;
    }
    .main-page-info li:first-child {
        font-size: x-large;
    }
    .main-page-info li:nth-child(4) {
        font-size: x-large;
    }

    .menu-container {
        position: absolute;
        left: 0;
        height: auto;
        width: 100%;
    }

    .left-menu {
        width: 20%;
    }

    .menu-logo img {
        width: 90%;
    }
    
    .left-menu li:hover {
        color: rgb(255, 255, 255, 0.8);
        background-color: rgb(131, 0, 0, 0.4);
        border-radius: 10px;
        cursor: pointer; 
    }

    .right-menu {
        width: 70%;
    }

    .right-menu-header-wrapper {
        width: 100%;
        justify-content: space-between;    
        margin-bottom: 3%;
        padding: 20px;
        padding-right: 0;
    }

    .header-image-wrapper {
        display: block;
        width: 20%;
        height:30%;
        position: absolute;
        right: 10%;
        top: 1%;
        text-align: center;
    }
    
    .header-image-wrapper img {
        height: 100%;
    }
    .food-list-container {
        width: 80%;
    }

    .about-container {
        width: 90%;
        padding: 3%;
        margin: 0 5%;
    };

    /* .our, .bbq {
        display: none;
    } */

}